
/*Caractéristiques des images tenues afin de les afficher dans le tableau*/
.tenue{
	display:block;
	margin-left:auto;
	margin-right:auto;
	max-width: 100%;
	height: auto;
}

/*permet de faire un meilleur affichage de cases du tableau*/
.tab{
	text-align: center;
	table-layout: center;
	width:73%
}

/*classe utilisée dans objects.html afin d'afficher le menu sur la droite*/
.fixed{
	right:20px;
	top: 20px;
	position: fixed;
}

/*le bouton stylisé*/
.dropbtno{
	display: block;
	width: 128px;
	color: rgb(90,180,185);
	text-shadow: 2px 2px 14px #76d09c ;
	background-color: black;
	font-size: 100%;
	font-family: fangsong;
	cursor:pointer;
	text-decoration: none;
	border-right: 1px solid #98fb98;
	border-radius: 10px/5px;
}

.dropdown-content .button{
	background-color: transparent;
	border : 0px hidden white;
}

.dropdown .dropbtno{
	color: rgb(152,251,152);
}


